<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turbomanage.storm.test">
	
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.turbomanage.storm.test" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>
